bin
intermediate
.vs
.vahashtags
ipch
*.sdf
*.user
*.opendb
*.aps
src/ch/help/HTMLDefines.h
src/ch/help/*/HTMLDefines.h
src/ch/help/*/*.chm
src/chext/chext.h
src/chext/chext.tlb
src/chext/chext_i.c
src/chext/chext_p.c
src/chext/dlldata.c
_ReSharper.Caches
