<!--
.headertext
{
	font-weight: normal;
	font-size: x-small;
	color: lightgrey;
	font-style: normal;
	font-family: Arial;
}
.doctitle
{
	font-weight: bold;
	font-size: small;
	font-style: normal;
	font-family: Arial;
}
.docsection
{
	font-weight: bold;
	font-size: medium;
	font-style: normal;
	font-family: Arial;
}
.doctext
{
	font-weight: normal;
	font-size: x-small;
	font-style: normal;
	font-family: Arial;
}
.tabletext
{
	font-weight: normal;
	font-size: x-small;
	font-style: normal;
	font-family: Arial;
}
.footer
{
	font-weight: normal;
	font-size: x-small;
	color: silver;
	font-style: normal;
	font-family: Arial;
}

//-->
